.card-item {
  width: 360px;
  height: 350px;
  margin: 10px;
  margin-bottom: 30px;
  font-family: 'Roboto';
}
.thumbnail {
  width: 100%;
}
.logo-details {
  padding-top: 10px;
  display: flex;
  font-family: 'Roboto';
}
.card-logo {
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}
