.banner-logo {
  height: 40px;
}
.banner-text {
  color: #383838;
  font-size: 20px;
  font-weight: 500;
}
.close-icon {
  font-size: 18px;
}
.banner-details-con {
  width: 50%;
}
.get-it-now-btn {
  background-color: transparent;
  border: 2px solid #383838;
  border-radius: 3px;
  padding: 10px;
  color: #383838;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.failure-img {
  height: 300px;
}
.videos-list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 0px;
  list-style-type: none;
}
